<!DOCTYPE html>
<html ng-app="game">
<head>
	<title>Image Game</title>

	<script src="angular.js"></script>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="controller.js"></script>

	<link href="http://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300" rel="stylesheet" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,vietnamese,latin-ext,cyrillic" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="style.css" />

	<link rel="shortcut icon" href="images/favicon.png" type="image/x-icon" />
	<link rel="bookmark" href="images/favicon.png" type="image/x-icon" />
</head>

<body ng-controller="mainController">
	<gierka style="width: {{widthof}}px; display:block"></gierka>

	
		<footer>
			&copy;2017 and beyond Michał Mietliński
		</footer>
	
</body>

<script type="text/ng-template" id="onetitle2.html">
		<header>
		
		</header>
		
		<div class="gameSettings">
			<div class="gameSetCol">
				<label>Number of puzzles</label>
				<input ng-minlength="1" ng-maxlength="4" ng-model="number" ng-Change="channge()" />
			</div>
			<div class="gameSetCol">
				<label>Width</label>
				<input ng-minlength="3" type="number" ng-maxlength="4" ng-model="widthof" />
			</div>
			<div class="gameSetCol">
				<label>Select game</label>
				<select ng-model="gametype" ng-Change="channge()">
					<option value="1" selected="selected">Place Switching</option>
					<option value="2">One empty</option>
				</select>
			</div>
		</div>

		<div class="gameContent">
			<div class="gameContentMaxW">
				<div ng-class="{'tileWrapper' : true, 'completed': obj.completed} ">
			
					<div ng-repeat="(key, value) in obj" ng-class="{'chosen': value.isChosen, 'empty' : value.empty}" class="tile"  ng-swipe-up="swipe('up' , key)"  ng-swipe-down="swipe('down', key)" ng-swipe-left="swipe('left', key)" ng-swipe-right="swipe('right', key )" style="top : {{(Math.ceil(value.position/Math.sqrt(number))-1)*(100/Math.sqrt(number))}}%; left: {{((value.position-1)%Math.sqrt(number))*(100/Math.sqrt(number))}}%; width: {{(100/Math.sqrt(number))}}%; height: {{(100/Math.sqrt(number))}}%; background: url('{{obj.img.src}}') no-repeat; background-position:{{value.backgroundpos}}; background-size: {{Math.sqrt(number)*100}}% {{Math.sqrt(number)*100}}% ;" ng-click="moveclick(key)"></div>
					<!--  background-size:{{Math.sqrt(number)*100}}% {{Math.sqrt(number)*100}}%; -->
				</div>
				<!--Data inside directive: key: {{value.id}}  position: {{value.position}} value: {{(Math.floor(value.position%Math.sqrt(number)))*(100/Math.sqrt(number))}}-->
			</div>
		</div>
</script>
</html>